body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 16px;
    min-width: 400px;
    font-family: Arial, sans-serif;
    text-align: center;
}

p {
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.4;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: lightgray;
    color: black;
    cursor: pointer;
    margin: 20px 0;
    position: relative;
}

button:active::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: lightgray;
}

button:hover {
    background-color: darkgrey;
}

#placesContainer {
    width: 120%; 
    overflow-x: hidden;
    flex: 1;
    overflow-y: auto;
    margin-top: 20px;
    border-radius: 8px;
}

.places-list {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.place-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: background-color 0.2s ease;
    border-top: 1px solid #e0e0e0;
    padding: 0 5%;
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box !important;
    overflow-x: hidden !important;
}

.Nv2PK .hfpxzc {
    left: 0 
}

.QBUL8c {
    background-image: url('img/ic_star_rate_14.png');
}

.QBUL8c.vIBWLc {
    background-image: url('img/ic_star_rate_half_14.png');
}

.QBUL8c.B53l4e {
    background-image: url('img/ic_star_rate_empty_14.png');
}

